//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 10 15:45:42 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "A8" LEVEL 1;
COMP "gpioBank1<0>" LOCATE = SITE "T14" LEVEL 1;
COMP "gpioBank1<1>" LOCATE = SITE "R13" LEVEL 1;
COMP "gpioBank1<2>" LOCATE = SITE "T13" LEVEL 1;
COMP "gpioBank1<3>" LOCATE = SITE "R12" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "N15" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "J16" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "K15" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "L15" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "M16" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "M15" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "N16" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

